h1,h2,h3,h4{
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
}

figure{
  margin: 0;
}

ul{
  margin: 0;
  padding: 0;
}

ol{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

img{
  width: 100%;
  font-size: 0;
}

p{
  margin: 0;
}

a{
  text-decoration: none;
 	color: #333;
}

*{
	box-sizing: border-box;
}

input[type="text"],
input[type="tel"],
input[type="email"]{

  &:focus{
    outline: none;
  }
}

input::-webkit-input-placeholder{
  opacity: 1;
}
input::-moz-placeholder{
  opacity: 1;
}
input:-moz-placeholder{
  opacity: 1;
}
input:-ms-input-placeholder{
  opacity: 1;
}

input:focus::-webkit-input-placeholder {opacity: 0;}
input:focus::-moz-placeholder          {opacity: 0;}
input:focus:-moz-placeholder           {opacity: 0;}
input:focus:-ms-input-placeholder {opacity: 0;}

@primmary: #FED6D6;
@accent: #FF7276;

body{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.wrapper{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1240px;
}

.header{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 60px;
	background-color: #fff;
	box-shadow: 0 2px 5px 0px rgba(33, 33, 33, 0.1);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.wrapper--header{
	justify-content: space-between;
	align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: 700;
    color: @accent;
}

.menu__ul {
    display: flex;
}

.menu__li {
    margin-right: 22.5px;
}

.menu__a {
    font-size: 16px;
    font-weight: 500;
    transition: color 0.2s;

    &:hover{
    	color: @accent;
    }
}

main{
	display: flex;
	justify-content: center;
	width: 100%;
}

.section{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	position: relative;
}

h1{
	max-width: 1024px;
	text-align: center;
	line-height: 1.2;
	font-size: 3vw;
	color: #333;
	z-index: 1;
}

.accent-word{
	color: #fff;
	text-shadow: 2px 2px 3px rgba(33, 33, 33, 0.5);
}

.section--one{
	background-image: url("../img/first-back-2.jpg");
	background-position: 50%;
	background-size: cover;

	&:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: @primmary;
		opacity: 0.8; 
	}
}